# ignore everything in deps folder
deps/

# ignore everything in test/lib and test/objs folder
test/lib/
test/objs/

# ignore compilation related files
*.d
*.o
*.a

# ignore local hidden files, like vim specific .filename.swp file.
.*

# project specific named files
test/*_tests
test/*_tests.txt
