# ignore everything in deps folder
deps/

# ignore everything in test/lib and test/objs folder
test/lib/
test/objs/

# ignore compilation related files
*.d
*.o
*.a

# project specific named files
test/sequence_tests
test/sequence_tests.txt
